<!-- templates/base.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Fargate Demo{% endblock %}</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    {% include 'material/includes/material_css.html' %} {% include 'material/includes/material_js.html' %}
</head>

{% block body %}
    <body>
        {% block nav %}
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

            {% block nav_content %}
                {% block navbar_brand %}
                    <a class="navbar-brand" href="#">Brand</a>
                {% endblock %}

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                {% block navbar_collapse %}
                <div class="collapse navbar-collapse" id="navbar">

                    {% block navbar_collapse_nav %}{% endblock %}

                </div>
                {% endblock %}

            {% endblock %}

        </nav>
        {% endblock %}

        <div class="mt-5"></div>

        {% block navbar_after %}{% endblock %}

        {% block body_content %}
            <div class="container">
                {% block container %}{% endblock %}
            </div>
        {% endblock %}

        {% block foot %}
            <footer>
                {% block footer %}{% endblock %}
            </footer>
        {% endblock %}
{% endblock %}

</html>